## Q1

In [1]:
# A database is a structured collection of data for efficient storage and retrieval.

# SQL databases are relational, using a fixed schema for structured data.

# NoSQL databases are diverse, accommodating unstructured or semi-structured data.

# SQL ensures ACID properties for data consistency, while NoSQL prioritizes scalability.

# Examples: SQL - MySQL, NoSQL - MongoDB, Cassandra.

## Q2

In [2]:
# DDL (Data Definition Language) defines and manages a database's structure.

# CREATE creates new objects like tables (e.g., CREATE TABLE).

# DROP deletes objects entirely (e.g., DROP TABLE).

# ALTER modifies object structures (e.g., ALTER TABLE to add a column).

# TRUNCATE removes all records from a table, keeping the structure (e.g., TRUNCATE TABLE).

In [4]:
# CREATE TABLE employees (
#     employee_id INT PRIMARY KEY,
#     first_name VARCHAR(50),
#     last_name VARCHAR(50),
#     hire_date DATE
# );

In [5]:
# DROP TABLE employees;

In [6]:
#ALTER TABLE employees
#ADD COLUMN email VARCHAR(100);

In [7]:
# TRUNCATE TABLE employees;

## Q3

In [8]:
# Q3. DML (Data Manipulation Language):

# DML deals with the manipulation of data stored in the database.

# INSERT:

# Purpose: Adds new records to a table.
# Example:
# sql
# Copy code
# INSERT INTO employees (employee_id, first_name, last_name, hire_date)
# VALUES (1, 'John', 'Doe', '2023-01-01');
# UPDATE:

# Purpose: Modifies existing records in a table.
# Example:
# sql
# Copy code
# UPDATE employees
# SET first_name = 'Jane'
# WHERE employee_id = 1;
# DELETE:

# Purpose: Removes records from a table.
# Example:
# sql
# Copy code
# DELETE FROM employees
# WHERE employee_id = 1;

## Q4

In [9]:
# Q4. DQL (Data Query Language):

# DQL is used to retrieve data from the database.

# SELECT:
# Purpose: Retrieves data from one or more tables.
# Example:
# sql
# Copy code
# SELECT first_name, last_name
# FROM employees
# WHERE hire_date > '2022-01-01';

## Q5

In [10]:
# Q5. Primary Key and Foreign Key:

# Primary Key:

# Purpose: Uniquely identifies each record in a table.
# Example:
# sql
# Copy code
# CREATE TABLE students (
#     student_id INT PRIMARY KEY,
#     student_name VARCHAR(50)
# );
# Foreign Key:

# Purpose: Establishes a link between two tables, referencing the primary key of another table.
# Example:
# sql
# Copy code
# CREATE TABLE grades (
#     grade_id INT PRIMARY KEY,
#     student_id INT,
#     grade VARCHAR(2),
#     FOREIGN KEY (student_id) REFERENCES students(student_id)
# );

## 6

In [11]:
# Q6. Python code to connect MySQL and explain cursor() and execute():

# python
# Copy code
# import mysql.connector

# # Connect to MySQL
# conn = mysql.connector.connect(
#     host="your_host",
#     user="your_username",
#     password="your_password",
#     database="your_database"
# )

# # Create a cursor
# cursor = conn.cursor()

# # Execute a SQL query
# cursor.execute("SELECT * FROM your_table")

# # Fetch the result
# result = cursor.fetchall()

# # Close the cursor and connection
# cursor.close()
# conn.close()
# cursor(): Creates a cursor object that allows you to interact with the database.
# execute(): Executes a SQL query. In the example, it fetches all records from the specified table.

## Q7

In [ ]:
# Q7. Order of execution of SQL clauses in a query:

# FROM: Specifies the table(s) from which to retrieve data.
# WHERE: Filters the rows based on a specified condition.
# GROUP BY: Groups rows that have the same values into summary rows.
# HAVING: Filters groups based on a specified condition.
# SELECT: Retrieves the columns specified in the query.
# ORDER BY: Sorts the result set by specified columns.
# LIMIT/OFFSET: Specifies the number of rows to return and the number of rows to skip. (Optional)